@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(202 32% 15%);
  color: hsl(198 23% 72%);
}

main {
  width: 300px;
  margin: 50px auto 0;
}

.board {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* width: 20.5rem; */
  /* margin-inline: auto;
  margin-bottom: 1.25rem; */
  justify-content: center;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f3641;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 10px;
  width: 100px;
  height: 105px;
  font-size: 1.5rem /* 24px */;
  line-height: 2rem;
  font-weight: 700;
}

.win {
  background-color: hsl(178 60% 48%);
  color: hsl(199, 35%, 19%);
  box-shadow: inset 0px -8px 0px hsl(177, 60%, 21%);
}

.lose {
  background-color: hsl(39 88% 58%);
  color: hsl(199, 35%, 19%);
  box-shadow: inset 0px -8px 0px 0px hsl(39, 67%, 33%);
}

/* .result {
  font-size: 1.5rem;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.x {
  color: hsl(178 60% 48%);
}

.xwin,
.owin {
  color: hsl(199, 35%, 19%);
}

.o {
  color: hsl(39 88% 58%);
}

.restart {
  width: 2.5rem;
  height: 2.5rem;
  background: #a8bfc9;
  box-shadow: inset 0px -4px 0px #6b8997;
  border-radius: 5px;
  border: none;
  padding-inline: 12.31px;
}

.quitBtn {
  width: 4.75rem;
  height: 3.25rem;
  border-radius: 10px;
  background-color: hsl(198 23% 72%);
  box-shadow: inset 0px -4px 0px #6b8997;
  margin-right: 1rem;
  font-size: 1rem;
  color: hsl(202, 32%, 15%);
  font-weight: 500;
}

.nextBtn {
  width: 9.125rem;
  height: 3.25rem;
  border-radius: 10px;
  background-color: hsl(39 88% 58%);
  box-shadow: inset 0px -4px 0px #cc8b13;
  font-size: 1rem;
  color: hsl(202, 32%, 15%);
  font-weight: 500;
}
